*, *::before, *::after {
    box-sizing: border-box;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto 0 auto;
}

@media (max-width: 1200px) {
    body {
        font-size: 18px;
    }

    .container {
        max-width: 720px;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 12px;
    }

    .container {
        max-width: 540px;
    }
}

.title-container {
    display: flex;
    flex-direction: column;
}

#title {
    align-self: center;
    margin: 3rem auto 0.5rem auto;
}

#description {
    font-style: italic;
    margin: 0;
}

#survey-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px transparent;
    border-radius: 10px;
    padding: 2rem;
}

.form-group {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.group-label {
    margin-bottom: 0.5rem;
}

.group-control {
    width: 100%;
    border: none;
    border-radius: 10px;
    line-height: 2rem;
    margin-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.group-section {
    width: 100%;
    margin-top: 0.5rem;
}

.group-section-label {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0.2rem;
}

.group-section-radio {
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem;
}

.group-section-checkbox {
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem;
}

.group-select {
    height: 2rem;
}

.group-textarea {
    line-height: 1.2rem;
    min-height: 8rem;
    resize: none;
    padding-top: 0.5rem;
}

.group-button {
    background: cornflowerblue;
    color: white;
    animation-name: on-button-hover;
    font-size: 1rem;
}

.group-button:hover {
    cursor: pointer;
    border: 1px solid;
}